In [6]:
import spacy
from spacy import displacy
import pandas as pd
import nltk
spacy.__version__

'2.3.5'

In [7]:
# Load SpaCy model
nlp = spacy.load("en_core_web_sm")
# nlp

In [10]:
text = input("Enter the text for categorization:   ")

Enter the text for categorization:   An apple is an edible fruit produced by an apple tree (Malus domestica). Apple trees are cultivated worldwide and are the most widely grown species in the genus Malus. The tree originated in Central Asia, where its wild ancestor, Malus sieversii, is still found today. Apples have been grown for thousands of years in Asia and Europe and were brought to North America by European colonists. Apples have religious and mythological significance in many cultures, including Norse, Greek, and European Christian tradition.  Apple trees are large if grown from seed. Generally, apple cultivars are propagated by grafting onto rootstocks, which control the size of the resulting tree. There are more than 7,500 known cultivars of apples, resulting in a range of desired characteristics. Different cultivars are bred for various tastes and use, including cooking, eating raw and cider production. Trees and fruit are prone to a number of fungal, bacterial and pest problems, which can be controlled by a number of organic and non-organic means. In 2010, the fruit's genome was sequenced as part of research on disease control and selective breeding in apple production.

In [11]:
doc = nlp(text)

entities = []
labels = []
position_start = []
position_end = []

for ent in doc.ents:
    entities.append(ent)
    labels.append(ent.label_)
    position_start.append(ent.start_char)
    position_end.append(ent.end_char)
    
df = pd.DataFrame({'Entities':entities,'Labels':labels,'Position_Start':position_start, 'Position_End':position_end})

df

                  Entities    Labels  Position_Start  Position_End
0                  (Apple)       ORG              73            78
1                  (Malus)       GPE             161           166
2          (Central, Asia)       LOC             191           203
3                  (Malus)      NORP             230           235
4                  (today)      DATE             262           267
5   (thousands, of, years)      DATE             296           314
6                   (Asia)       LOC             318           322
7                 (Europe)       LOC             327           333
8         (North, America)       LOC             354           367
9               (European)      NORP             371           379
10                 (Greek)      NORP             478           483
11   (European, Christian)      NORP             489           507
12                 (Apple)       ORG             520           525
13     (more, than, 7,500)  CARDINAL             689           704
14                  (2010)      DATE            1041          1045

In [33]:
spacy.explain("ORG")
# spacy.explain("DATE")
# spacy.explain("PERCENT")

'Companies, agencies, institutions, etc.'